
<body>
    <div class="page-wrapper">
        <main class="main-wrapper">
            <header class="content-wrap">
                <div class="padding-global">
                    <div class="container-medium">
                        <div class="padding-section-small">

                            <div class="text-align-center">
                                <h1 class="heading-style-h2">Discover artworks</h1>
                                <div class="margin-bottom margin-medium">
                                    <p class="text-color-grey">Search 10M+ of prompts, and generate AI art and AI images via BeriaAI</p>
                                </div>
                            </div>

                            <form action="/search" class="search-form w-form">
                                <input type="search" class="form_input-2 is-search-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Type some keyword to find artworks" id="search" required="">
                                <input type="submit" value="Search" class="button hide w-button">
                                <div id="w-node-_7930ba47-9a65-e00c-6d13-048e1e15859a-e5916d12" class="search-icon w-embed">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path style="fill:yellow;" fill-rule="evenodd" clip-rule="evenodd" d="M11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21C13.7631 21 15.8415 20.2086 17.4733 18.8875L20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L18.8875 17.4733C20.2086 15.8415 21 13.7631 21 11.5C21 6.25329 16.7467 2 11.5 2ZM4 11.5C4 7.35786 7.35786 4 11.5 4C15.6421 4 19 7.35786 19 11.5C19 15.6421 15.6421 19 11.5 19C7.35786 19 4 15.6421 4 11.5Z" fill="black"></path>
                                    </svg>
                                </div>
                            </form>

                            <div class="content-wrap margin-top margin-medium">
                                <div class="w-layout-grid _3-col-grid art-grid _4-col">
                                    <div id="w-node-_932177e5-3a26-8b65-a9a5-bd000b5ed4ab-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/642753bf26a472d15598b813_Rectangle%2011.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11477 12.1282 8.8358 10.3366 10.3665C8.39879 12.0223 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7275 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.1991 15.2164 22.2022C15.2674 22.2475 15.331 22.3038 15.3919 22.3497C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3497C16.6597 22.3038 16.7233 22.2475 16.7743 22.2022C16.7779 22.1991 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7275 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85506 17.5533 9.11425 15.9951 10.478Z" fill="#EB5757"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d5a53a597d50a7b36c_Ellipse%202.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Richard Norman</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Black man with long afro</h2>
                                                <p class="text-color-grey p-desc">A black model with long afro staring wild into my eyes</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_932177e5-3a26-8b65-a9a5-bd000b5ed4bb-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d1302f902f692e6c5c_Rectangle%2011-2.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d5f47c953cb7322f73_Ellipse%202-1.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Dick Greyson</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Heaven gate</h2>
                                                <p class="text-color-grey p-desc">Gate to heaven but with polygons and a pyramid</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_9ca3393e-9b27-9320-3b48-5f25c6958d54-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d1aa3462c6134d043f_Rectangle%2011-4.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9044d329d40_Ellipse%202-2.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">James Newman</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Graduation pack</h2>
                                                <p class="text-color-grey p-desc">A modern graduation pack set with cert and hat</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_5b547d7a-9e59-936e-b221-0a3db855dfb7-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d20480cad4ddbf1c11_Rectangle%2011-14.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9d5f8329d3f_Ellipse%202-3.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Lack Xetter</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Zombie robot</h2>
                                                <p class="text-color-grey p-desc">Humanoid robots but with a zombie appearance</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-e9202f30-49a0-ef62-b313-75aa0238dd81-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d1f9d51a3ac87c4140_Rectangle%2011-8.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9d5f8329d3f_Ellipse%202-3.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Lack Xetter</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Robot apocalypse</h2>
                                                <p class="text-color-grey p-desc">A robot from the apocalypse with light eyes</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_63c662a4-7beb-9c96-a26e-299f269b8f72-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d16c28f404f2ded65d_Rectangle%2011-10.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9044d329d40_Ellipse%202-2.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">James Newman</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Afro Tecno</h2>
                                                <p class="text-color-grey p-desc">An african with techno wears on their face</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_6b9625e3-6b79-35a4-9db1-ee20d7bec3cd-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d127157315c2943809_Rectangle%2011-6.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9044d329d40_Ellipse%202-2.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">James Newman</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Afro Tecno 2</h2>
                                                <p class="text-color-grey p-desc">An african with techno wears on their face</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_5483cb48-53fe-ce08-f546-521d7d333d44-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d25c4c4c328f3ba7a2_Rectangle%2011-12.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9d5f8329d3f_Ellipse%202-3.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Yin Lang</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Modern japan flower</h2>
                                                <p class="text-color-grey p-desc">Beautiful flowers on a japanese window</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_96f04ea6-c13b-a3cf-feef-bc8535c471b6-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d1f487595f6ca957f3_Rectangle%2011-1.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d5f47c953cb7322f73_Ellipse%202-1.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Dick Greyson</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Black man with</h2>
                                                <p class="text-color-grey p-desc">A black model with long afro staring wild into my eyes</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_3027dc0d-6304-0e65-4913-69b6ee1fe2ea-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d16a10ece40151e308_Rectangle%2011-3.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d5f47c953cb7322f73_Ellipse%202-1.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Dick Greyson</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Heaven gate 2</h2>
                                                <p class="text-color-grey p-desc">Gate to heaven but with polygons and a pyramid</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-bda037c9-00a7-d86f-eecb-4829d809476f-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d1597397a4d68d3e6d_Rectangle%2011-5.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9044d329d40_Ellipse%202-2.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">James Newman</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Graduation pack 2</h2>
                                                <p class="text-color-grey p-desc">A modern graduation pack set with cert and hat</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-ad2b29a3-02bc-ef5d-c5e1-2610d75ff42f-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d28fbcbe49cbbb7f03_Rectangle%2011-15.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9d5f8329d3f_Ellipse%202-3.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Lack Xetter</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Zombie robot</h2>
                                                <p class="text-color-grey p-desc">Humanoid robots but with a zombie appearance</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-b17fa2c8-8ff8-b5a5-5668-47c24cd04ed1-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d2302f90895c2e6c60_Rectangle%2011-9.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d50cb3c811917648d4_Ellipse%202-4.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Lack Xetter</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Robot apocalypse 2</h2>
                                                <p class="text-color-grey p-desc">A robot from the apocalypse with light eyes</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_54805657-5ae1-f420-d3fb-04496ea343dc-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d2597397cfa18d3e7e_Rectangle%2011-11.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9044d329d40_Ellipse%202-2.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">James Newman</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Afro Tecno 3</h2>
                                                <p class="text-color-grey p-desc">An african with techno wears on their face</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-fabd1f98-d2a4-2a35-b286-eccfc9ea30c9-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d126a472068c9fc65a_Rectangle%2011-7.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9044d329d40_Ellipse%202-2.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">James Newman</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Afro Tecno 4</h2>
                                                <p class="text-color-grey p-desc">An african with techno wears on their face</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                    <div id="w-node-_55c6f595-efe1-d0b3-7477-276c310395ae-e5916d12" class="art-card with-animation">
                                        <img src="~/content/image/6427c6d28fbcbe0670bb7f02_Rectangle%2011-13.png" loading="lazy" alt="" class="art-image">
                                        <div class="action-icon w-embed">
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="32" height="32" rx="8" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11474 12.1282 8.83577 10.3366 10.3665C8.39879 12.0222 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7274 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.199 15.2164 22.2022C15.2674 22.2474 15.331 22.3038 15.3919 22.3496C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3496C16.6597 22.3038 16.7233 22.2474 16.7743 22.2022C16.7779 22.199 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7274 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85503 17.5533 9.11422 15.9951 10.478Z" fill="#E0E0E0"></path>
                                            </svg>
                                        </div>
                                        <div class="art-card-context vertical">
                                            <a href="#" class="flex-box w-inline-block">
                                                <div class="profile-link smaller">
                                                    <img src="~/content/image/642754d52993b9d5f8329d3f_Ellipse%202-3.png" loading="lazy" alt="" class="profile-link-image">
                                                </div>
                                                <div class="text-size-small text-weight-semibold">Yin Lang</div>
                                            </a>
                                            <div class="content-wrap">
                                                <h2 class="heading-style-h5">Modern japan flower 2</h2>
                                                <p class="text-color-grey p-desc">Beautiful flowers on a japanese window</p>
                                            </div>
                                        </div>
                                        <a href="#" class="button is-small w-button">Remix ✨</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
        </main>
    </div>
</body>