

<body>
    <div class="page-wrapper">
        <main class="main-wrapper">
            <header class="content-wrap">
                <div class="padding-global">
                    <div class="container-medium">
                        <div class="padding-section-small">

                            <div class="text-align-center">
                                <h1 class="heading-style-h2">Generate artwork</h1>
                                <div class="margin-bottom margin-medium">
                                    <p class="text-color-grey">If you can imagine it, and say it in words, Ai can generate it, and bring it to life</p>
                                </div>
                            </div>

                            <form action="/search" class="search-form w-form">
                                <input type="search" class="form_input-2 is-search-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Type in your prompt and press enter to start generating art" id="search" required="">
                                <input type="submit" value="Search" class="button hide w-button">
                                <div id="w-node-_7930ba47-9a65-e00c-6d13-048e1e15859a-47def756" class="search-icon w-embed">
                                    <svg style="fill:yellow;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.5 22V17M4.5 7V2M2 4.5H7M2 19.5H7M13 3L11.2658 7.50886C10.9838 8.24209 10.8428 8.60871 10.6235 8.91709C10.4292 9.1904 10.1904 9.42919 9.91709 9.62353C9.60871 9.84281 9.24209 9.98381 8.50886 10.2658L4 12L8.50886 13.7342C9.24209 14.0162 9.60871 14.1572 9.91709 14.3765C10.1904 14.5708 10.4292 14.8096 10.6235 15.0829C10.8428 15.3913 10.9838 15.7579 11.2658 16.4911L13 21L14.7342 16.4911C15.0162 15.7579 15.1572 15.3913 15.3765 15.0829C15.5708 14.8096 15.8096 14.5708 16.0829 14.3765C16.3913 14.1572 16.7579 14.0162 17.4911 13.7342L22 12L17.4911 10.2658C16.7579 9.98381 16.3913 9.8428 16.0829 9.62353C15.8096 9.42919 15.5708 9.1904 15.3765 8.91709C15.1572 8.60871 15.0162 8.24209 14.7342 7.50886L13 3Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </form>

                            <div class="content-wrap margin-top margin-medium">
                                <div class="art-card-context alt margin-bottom margin-medium">
                                    <div class="content-wrap">
                                        <h2 class="heading-style-h5">Winter sportsman</h2>
                                        <p class="text-color-grey">Generate a futuristic winter sports man</p>
                                    </div>
                                    <div class="action-group">
                                        <a href="#" class="button is-small w-button">Save collection</a>
                                    </div>
                                </div>
                                <div class="w-layout-grid _3-col-grid art-grid _4-col">
                                    <a id="w-node-_7d61c8b2-985d-8539-6336-be64f80d4230-47def756" href="#" class="w-inline-block">
                                        <div class="art-card with-animation">
                                            <img src="~/content/image/6427c9565c4c4c44933bc14d_Rectangle%2013.png" loading="lazy" alt="" class="art-image">
                                            <div class="action-icon w-embed">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="8" fill="white"></rect>
                                                    <g clip-path="url(#clip0_6_1015)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0003 8.66669C11.9502 8.66669 8.66699 11.9499 8.66699 16C8.66699 20.0501 11.9502 23.3334 16.0003 23.3334C20.0504 23.3334 23.3337 20.0501 23.3337 16C23.3337 11.9499 20.0504 8.66669 16.0003 8.66669ZM19.4717 14.4714C19.7321 14.2111 19.7321 13.789 19.4717 13.5286C19.2114 13.2683 18.7893 13.2683 18.5289 13.5286L15.0003 17.0572L13.4717 15.5286C13.2114 15.2683 12.7893 15.2683 12.5289 15.5286C12.2686 15.789 12.2686 16.2111 12.5289 16.4714L14.5289 18.4714C14.7893 18.7318 15.2114 18.7318 15.4717 18.4714L19.4717 14.4714Z" fill="#27AE60"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_6_1015">
                                                            <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a id="w-node-c3aaaf50-3b64-6657-c92f-ac043a043267-47def756" href="#" class="w-inline-block">
                                        <div class="art-card with-animation">
                                            <img src="~/content/image/6427c956bb87cb1de81f68dc_Rectangle%2011-1.png" loading="lazy" alt="" class="art-image">
                                            <div class="action-icon w-embed">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="8" fill="white"></rect>
                                                    <g clip-path="url(#clip0_6_1020)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0003 8.66669C11.9502 8.66669 8.66699 11.9499 8.66699 16C8.66699 20.0501 11.9502 23.3334 16.0003 23.3334C20.0504 23.3334 23.3337 20.0501 23.3337 16C23.3337 11.9499 20.0504 8.66669 16.0003 8.66669ZM19.4717 14.4714C19.7321 14.2111 19.7321 13.789 19.4717 13.5286C19.2114 13.2683 18.7893 13.2683 18.5289 13.5286L15.0003 17.0572L13.4717 15.5286C13.2114 15.2683 12.7893 15.2683 12.5289 15.5286C12.2686 15.789 12.2686 16.2111 12.5289 16.4714L14.5289 18.4714C14.7893 18.7318 15.2114 18.7318 15.4717 18.4714L19.4717 14.4714Z" fill="#E0E0E0"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_6_1020">
                                                            <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a id="w-node-_4fa1b5c2-aeea-50bd-fe46-7d4e1b331e70-47def756" href="#" class="w-inline-block">
                                        <div class="art-card with-animation">
                                            <img src="~/content/image/6427c9578fbcbeeb1dbbb573_Rectangle%2013-2.png" loading="lazy" alt="" class="art-image">
                                            <div class="action-icon w-embed">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="8" fill="white"></rect>
                                                    <g clip-path="url(#clip0_6_1020)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0003 8.66669C11.9502 8.66669 8.66699 11.9499 8.66699 16C8.66699 20.0501 11.9502 23.3334 16.0003 23.3334C20.0504 23.3334 23.3337 20.0501 23.3337 16C23.3337 11.9499 20.0504 8.66669 16.0003 8.66669ZM19.4717 14.4714C19.7321 14.2111 19.7321 13.789 19.4717 13.5286C19.2114 13.2683 18.7893 13.2683 18.5289 13.5286L15.0003 17.0572L13.4717 15.5286C13.2114 15.2683 12.7893 15.2683 12.5289 15.5286C12.2686 15.789 12.2686 16.2111 12.5289 16.4714L14.5289 18.4714C14.7893 18.7318 15.2114 18.7318 15.4717 18.4714L19.4717 14.4714Z" fill="#E0E0E0"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_6_1020">
                                                            <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a id="w-node-dfdb4c14-af41-da2b-56e8-657c1a55fd41-47def756" href="#" class="w-inline-block">
                                        <div class="art-card with-animation">
                                            <img src="~/content/image/6427c95e2b8b8c2f734291cf_Rectangle%2013-3.png" loading="lazy" alt="" class="art-image">
                                            <div class="action-icon w-embed">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="8" fill="white"></rect>
                                                    <g clip-path="url(#clip0_6_1020)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0003 8.66669C11.9502 8.66669 8.66699 11.9499 8.66699 16C8.66699 20.0501 11.9502 23.3334 16.0003 23.3334C20.0504 23.3334 23.3337 20.0501 23.3337 16C23.3337 11.9499 20.0504 8.66669 16.0003 8.66669ZM19.4717 14.4714C19.7321 14.2111 19.7321 13.789 19.4717 13.5286C19.2114 13.2683 18.7893 13.2683 18.5289 13.5286L15.0003 17.0572L13.4717 15.5286C13.2114 15.2683 12.7893 15.2683 12.5289 15.5286C12.2686 15.789 12.2686 16.2111 12.5289 16.4714L14.5289 18.4714C14.7893 18.7318 15.2114 18.7318 15.4717 18.4714L19.4717 14.4714Z" fill="#E0E0E0"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_6_1020">
                                                            <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a id="w-node-_45c2b974-a0d5-f17d-2d44-9ee1b86dbfb2-47def756" href="#" class="w-inline-block">
                                        <div class="art-card with-animation">
                                            <img src="~/content/image/64274f51f47c953a3d31d906_Rectangle%2013.png" loading="lazy" alt="" class="art-image">
                                            <div class="action-icon w-embed">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="8" fill="white"></rect>
                                                    <g clip-path="url(#clip0_6_1020)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0003 8.66669C11.9502 8.66669 8.66699 11.9499 8.66699 16C8.66699 20.0501 11.9502 23.3334 16.0003 23.3334C20.0504 23.3334 23.3337 20.0501 23.3337 16C23.3337 11.9499 20.0504 8.66669 16.0003 8.66669ZM19.4717 14.4714C19.7321 14.2111 19.7321 13.789 19.4717 13.5286C19.2114 13.2683 18.7893 13.2683 18.5289 13.5286L15.0003 17.0572L13.4717 15.5286C13.2114 15.2683 12.7893 15.2683 12.5289 15.5286C12.2686 15.789 12.2686 16.2111 12.5289 16.4714L14.5289 18.4714C14.7893 18.7318 15.2114 18.7318 15.4717 18.4714L19.4717 14.4714Z" fill="#E0E0E0"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_6_1020">
                                                            <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a id="w-node-_94b2bcd4-9cb8-217f-c449-67cdb2263d2f-47def756" href="#" class="w-inline-block">
                                        <div class="art-card with-animation">
                                            <img src="~/content/image/64274691625193246e32a1a1_art1.png" loading="lazy" alt="" class="art-image">
                                            <div class="action-icon w-embed">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="8" fill="white"></rect>
                                                    <g clip-path="url(#clip0_6_1020)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0003 8.66669C11.9502 8.66669 8.66699 11.9499 8.66699 16C8.66699 20.0501 11.9502 23.3334 16.0003 23.3334C20.0504 23.3334 23.3337 20.0501 23.3337 16C23.3337 11.9499 20.0504 8.66669 16.0003 8.66669ZM19.4717 14.4714C19.7321 14.2111 19.7321 13.789 19.4717 13.5286C19.2114 13.2683 18.7893 13.2683 18.5289 13.5286L15.0003 17.0572L13.4717 15.5286C13.2114 15.2683 12.7893 15.2683 12.5289 15.5286C12.2686 15.789 12.2686 16.2111 12.5289 16.4714L14.5289 18.4714C14.7893 18.7318 15.2114 18.7318 15.4717 18.4714L19.4717 14.4714Z" fill="#E0E0E0"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_6_1020">
                                                            <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a id="w-node-d7e79e04-2b0a-008d-903f-b666d4d90b4e-47def756" href="#" class="w-inline-block">
                                        <div class="art-card with-animation">
                                            <img src="~/content/image/64274f516a10ec3aef4a4783_Rectangle%2012.png" loading="lazy" alt="" class="art-image">
                                            <div class="action-icon w-embed">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="8" fill="white"></rect>
                                                    <g clip-path="url(#clip0_6_1020)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0003 8.66669C11.9502 8.66669 8.66699 11.9499 8.66699 16C8.66699 20.0501 11.9502 23.3334 16.0003 23.3334C20.0504 23.3334 23.3337 20.0501 23.3337 16C23.3337 11.9499 20.0504 8.66669 16.0003 8.66669ZM19.4717 14.4714C19.7321 14.2111 19.7321 13.789 19.4717 13.5286C19.2114 13.2683 18.7893 13.2683 18.5289 13.5286L15.0003 17.0572L13.4717 15.5286C13.2114 15.2683 12.7893 15.2683 12.5289 15.5286C12.2686 15.789 12.2686 16.2111 12.5289 16.4714L14.5289 18.4714C14.7893 18.7318 15.2114 18.7318 15.4717 18.4714L19.4717 14.4714Z" fill="#E0E0E0"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_6_1020">
                                                            <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                    <a id="w-node-b5a3fe56-0373-02a1-712f-4d999791d8fb-47def756" href="#" class="w-inline-block">
                                        <div class="art-card with-animation">
                                            <img src="~/content/image/6427c9572a7f28c0544bc178_Rectangle%2012-1.png" loading="lazy" alt="" class="art-image">
                                            <div class="action-icon w-embed">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="8" fill="white"></rect>
                                                    <g clip-path="url(#clip0_6_1020)">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0003 8.66669C11.9502 8.66669 8.66699 11.9499 8.66699 16C8.66699 20.0501 11.9502 23.3334 16.0003 23.3334C20.0504 23.3334 23.3337 20.0501 23.3337 16C23.3337 11.9499 20.0504 8.66669 16.0003 8.66669ZM19.4717 14.4714C19.7321 14.2111 19.7321 13.789 19.4717 13.5286C19.2114 13.2683 18.7893 13.2683 18.5289 13.5286L15.0003 17.0572L13.4717 15.5286C13.2114 15.2683 12.7893 15.2683 12.5289 15.5286C12.2686 15.789 12.2686 16.2111 12.5289 16.4714L14.5289 18.4714C14.7893 18.7318 15.2114 18.7318 15.4717 18.4714L19.4717 14.4714Z" fill="#E0E0E0"></path>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_6_1020">
                                                            <rect width="16" height="16" fill="white" transform="translate(8 8)"></rect>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
        </main>
    </div>
</body>



