
<div class="page-wrapper">
    <main class="main-wrapper">
        <header class="content-wrap">
            <div class="padding-global">
                <div class="container-medium">
                    <div class="padding-section-small">
                        <div class="w-layout-grid content-grid">

                            @await Html.PartialAsync("_SideBarContentPartial")

                            <div class="main-content">
                                <div class="inner-content">
                                    <div class="inner-content-group" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                                        <div class="page-title-group">
                                            <h1 class="heading-style-h2">👋🏻 Hey James!</h1>
                                            <p class="text-color-grey">Good day to see you! let’s get creative, shall we?</p>
                                        </div>
                                        <div class="w-layout-grid _3-col-grid">
                                            <a id="w-node-a98d4f2c-7ae9-d6fb-3a53-8c3891622a34-f196a7a7" href="/generate-art" class="content-action-card art-background w-inline-block">
                                                <h1 class="heading-style-h5">Generate New Artwork ✨</h1>
                                            </a>
                                            <a href="/discover" class="content-action-card distribute w-inline-block">
                                                <div class="action-icon inner">
                                                    <div class="icon-flex right-align w-embed">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7 17L17 7M17 7H7M17 7V17" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <h1 class="heading-style-h5">Discover AI Artworks</h1>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="inner-content-group" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                                        <div class="page-title-group">
                                            <h2 class="heading-style-h3">Your Recent Projects</h2>
                                            <p class="text-color-grey">Continue where you left off</p>
                                        </div>
                                        <div class="w-layout-grid _3-col-grid art-grid">
                                            <div id="w-node-a1c5a035-12ab-42f0-6923-08f41a798e59-f196a7a7" class="art-card">
                                                <img src="https://assets.website-files.com/6427381726a472874096a798/64274691625193246e32a1a1_art1.png" loading="lazy" alt="" class="art-image">
                                                <div class="art-card-context">
                                                    <div class="content-wrap">
                                                        <h2 class="heading-style-h5">Winter sports</h2>
                                                        <p class="text-color-grey p-desc">Generate a futuristic winter sports man...</p>
                                                    </div>
                                                    <div data-hover="false" data-delay="0" class="option-menu w-dropdown">
                                                        <div class="dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                                                            <div class="icon-flex w-embed">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M8.00004 8.66665C8.36824 8.66665 8.66671 8.36818 8.66671 7.99998C8.66671 7.63178 8.36824 7.33331 8.00004 7.33331C7.63184 7.33331 7.33337 7.63178 7.33337 7.99998C7.33337 8.36818 7.63184 8.66665 8.00004 8.66665Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    <path d="M12.6667 8.66665C13.0349 8.66665 13.3333 8.36818 13.3333 7.99998C13.3333 7.63178 13.0349 7.33331 12.6667 7.33331C12.2985 7.33331 12 7.63178 12 7.99998C12 8.36818 12.2985 8.66665 12.6667 8.66665Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    <path d="M3.33329 8.66665C3.70148 8.66665 3.99996 8.36818 3.99996 7.99998C3.99996 7.63178 3.70148 7.33331 3.33329 7.33331C2.96511 7.33331 2.66663 7.63178 2.66663 7.99998C2.66663 8.36818 2.96511 8.66665 3.33329 8.66665Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                        <nav class="dropdown-list w-dropdown-list" id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                                                            <a href="#" class="dd-link w-dropdown-link" tabindex="0">Share collection</a>
                                                            <a href="#" class="dd-link w-dropdown-link" tabindex="0">Duplicate</a>
                                                            <a href="#" class="dd-link danger w-dropdown-link" tabindex="0">Delete</a>
                                                        </nav>
                                                    </div>
                                                </div>
                                                <a href="#" class="button is-small w-button">Remix ✨</a>
                                            </div>
                                            <div id="w-node-a1c5a035-12ab-42f0-6923-08f41a798e6d-f196a7a7" class="art-card">
                                                <img src="https://assets.website-files.com/6427381726a472874096a798/642748c4f9d51a93a3749ab6_ifd.png" loading="lazy" alt="" class="art-image">
                                                <div class="art-card-context">
                                                    <div class="content-wrap">
                                                        <h2 class="heading-style-h5">AI bot assistant</h2>
                                                        <p class="text-color-grey p-desc">Create a starwars-like ai assistant with legs</p>
                                                    </div>
                                                    <div data-hover="false" data-delay="0" class="option-menu w-dropdown">
                                                        <div class="dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-1" aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                                                            <div class="icon-flex w-embed">
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M8.00004 8.66665C8.36824 8.66665 8.66671 8.36818 8.66671 7.99998C8.66671 7.63178 8.36824 7.33331 8.00004 7.33331C7.63184 7.33331 7.33337 7.63178 7.33337 7.99998C7.33337 8.36818 7.63184 8.66665 8.00004 8.66665Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    <path d="M12.6667 8.66665C13.0349 8.66665 13.3333 8.36818 13.3333 7.99998C13.3333 7.63178 13.0349 7.33331 12.6667 7.33331C12.2985 7.33331 12 7.63178 12 7.99998C12 8.36818 12.2985 8.66665 12.6667 8.66665Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                    <path d="M3.33329 8.66665C3.70148 8.66665 3.99996 8.36818 3.99996 7.99998C3.99996 7.63178 3.70148 7.33331 3.33329 7.33331C2.96511 7.33331 2.66663 7.63178 2.66663 7.99998C2.66663 8.36818 2.96511 8.66665 3.33329 8.66665Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                        <nav class="dropdown-list w-dropdown-list" id="w-dropdown-list-1" aria-labelledby="w-dropdown-toggle-1">
                                                            <a href="#" class="dd-link w-dropdown-link" tabindex="0">Share collection</a>
                                                            <a href="#" class="dd-link w-dropdown-link" tabindex="0">Duplicate</a>
                                                            <a href="#" class="dd-link danger w-dropdown-link" tabindex="0">Delete</a>
                                                        </nav>
                                                    </div>
                                                </div>
                                                <a href="#" class="button is-small w-button">Remix ✨</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
    </main>
</div>