
<body>
    <div class="page-wrapper">
        <main class="main-wrapper">
            <header class="content-wrap">
                <div class="padding-global">
                    <div class="container-medium">
                        <div class="padding-section-small">
                            <div class="w-layout-grid content-grid">

                                @await Html.PartialAsync("_SideBarContentPartial")

                                <div class="main-content">
                                    <div class="inner-content">
                                        <div class="inner-content-group" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                                            <div class="page-title-group">
                                                <h1 class="heading-style-h2">🌟️ Favorite artworks</h1>
                                                <p class="text-color-grey">
                                                    Want inspiration? <a href="/discover" class="text-weight-medium text-color-primary action-link">Discover artworks</a>
                                                </p>
                                            </div>
                                            <div class="divider wf-section"></div>
                                        </div>
                                        <div class="inner-content-group gap-32px" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                                            <div class="w-layout-grid _3-col-grid art-grid">
                                                <div id="w-node-_28b883b2-d8cc-9186-0b17-1536c2c8f576-7544b4d9" class="art-card">
                                                    <img src="https://assets.website-files.com/6427381726a472874096a798/642753bf26a472d15598b813_Rectangle%2011.png" loading="lazy" alt="" class="art-image">
                                                    <div class="action-icon w-embed">
                                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <rect width="32" height="32" rx="8" fill="white"></rect>
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11477 12.1282 8.8358 10.3366 10.3665C8.39879 12.0223 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7275 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.1991 15.2164 22.2022C15.2674 22.2475 15.331 22.3038 15.3919 22.3497C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3497C16.6597 22.3038 16.7233 22.2475 16.7743 22.2022C16.7779 22.1991 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7275 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85506 17.5533 9.11425 15.9951 10.478Z" fill="#EB5757"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="art-card-context vertical">
                                                        <a href="#" class="flex-box w-inline-block">
                                                            <div class="profile-link smaller">
                                                                <img src="https://assets.website-files.com/6427381726a472874096a798/642754d5a53a597d50a7b36c_Ellipse%202.png" loading="lazy" alt="" class="profile-link-image">
                                                            </div>
                                                            <div class="text-size-small text-weight-semibold">Richard Norman</div>
                                                        </a>
                                                        <div class="content-wrap">
                                                            <h2 class="heading-style-h5">Black man with long afro</h2>
                                                            <p class="text-color-grey p-desc">A black model with long afro staring wild into my eyes</p>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="button is-small w-button">Remix ✨</a>
                                                </div>
                                                <div id="w-node-_80d5bba1-4815-f10a-3228-f43f7e124ce6-7544b4d9" class="art-card">
                                                    <img src="https://assets.website-files.com/6427381726a472874096a798/642753bf2a7f284f7c44c481_Rectangle%2011-1.png" loading="lazy" alt="" class="art-image">
                                                    <div class="action-icon w-embed">
                                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <rect width="32" height="32" rx="8" fill="white"></rect>
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9951 10.478C14.4352 9.11477 12.1282 8.8358 10.3366 10.3665C8.39879 12.0223 8.11723 14.8108 9.64965 16.7827C10.2313 17.5312 11.3667 18.6557 12.4577 19.6856C13.5616 20.7275 14.6629 21.712 15.206 22.193C15.2094 22.196 15.2129 22.1991 15.2164 22.2022C15.2674 22.2475 15.331 22.3038 15.3919 22.3497C15.4649 22.4046 15.5696 22.4728 15.7095 22.5145C15.8954 22.57 16.0953 22.57 16.2813 22.5145C16.4211 22.4728 16.5259 22.4046 16.5988 22.3497C16.6597 22.3038 16.7233 22.2475 16.7743 22.2022C16.7779 22.1991 16.7813 22.196 16.7847 22.193C17.3278 21.712 18.4291 20.7275 19.533 19.6856C20.6241 18.6557 21.7594 17.5312 22.3411 16.7827C23.8676 14.8184 23.6295 12.0083 21.6471 10.3607C19.8357 8.85506 17.5533 9.11425 15.9951 10.478Z" fill="#EB5757"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="art-card-context vertical">
                                                        <a href="#" class="flex-box w-inline-block">
                                                            <div class="profile-link smaller">
                                                                <img src="https://assets.website-files.com/6427381726a472874096a798/642754d5f47c953cb7322f73_Ellipse%202-1.png" loading="lazy" alt="" class="profile-link-image">
                                                            </div>
                                                            <div class="text-size-small text-weight-semibold">Dick Greyson</div>
                                                        </a>
                                                        <div class="content-wrap">
                                                            <h2 class="heading-style-h5">Bitcoin arena</h2>
                                                            <p class="text-color-grey p-desc">3d bitcoin in a golden pink ice looking arena</p>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="button is-small w-button">Remix ✨</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>
    </div>
</body>
