
<body>
    <div class="page-wrapper">
        <main class="main-wrapper">
            <header class="content-wrap">
                <div class="padding-global">
                    <div class="container-medium">
                        <div class="padding-section-small">
                            <div class="w-layout-grid content-grid">

                                @await Html.PartialAsync("_SideBarContentPartial")

                                <div class="main-content">
                                    <div class="inner-content">
                                        <div class="inner-content-group">
                                            <div class="page-title-group">
                                                <h1 class="heading-style-h2">💰 Payments</h1>
                                                <p class="text-color-grey">All the payments you have made so far, including outstanding invoices</p>
                                            </div>
                                            <div class="divider wf-section"></div>
                                        </div>
                                        <div class="inner-content-group gap-32px">
                                            <div aria-describedby="IDREF" role="table" aria-label="NAME" class="table10_component">
                                                <div class="table10_content">
                                                    <div class="table10_header-row">
                                                        <div role="columnheader" class="table10_column is-header-column">
                                                            <a fs-cmssort-desc="is-desc" fs-cmssort-element="trigger" fs-cmssort-field="IDENTIFIER" fs-cmssort-asc="is-asc" href="#" class="table10_header-link w-inline-block">
                                                                <div class="text-weight-semibold">Tx ID</div>
                                                            </a>
                                                        </div>
                                                        <div role="columnheader" class="table10_column is-header-column is-width-large">
                                                            <a fs-cmssort-desc="is-desc" fs-cmssort-element="trigger" fs-cmssort-field="IDENTIFIER" fs-cmssort-asc="is-asc" href="#" class="table10_header-link w-inline-block">
                                                                <div class="text-weight-semibold">Plan</div>
                                                            </a>
                                                        </div>
                                                        <div role="columnheader" class="table10_column is-header-column is-width-medium">
                                                            <a fs-cmssort-desc="is-desc" fs-cmssort-element="trigger" fs-cmssort-field="IDENTIFIER" fs-cmssort-asc="is-asc" href="#" class="table10_header-link w-inline-block">
                                                                <div class="text-weight-semibold">Date</div>
                                                            </a>
                                                        </div>
                                                        <div role="columnheader" class="table10_column is-header-column is-width-medium">
                                                            <a fs-cmssort-desc="is-desc" fs-cmssort-element="trigger" fs-cmssort-field="IDENTIFIER" fs-cmssort-asc="is-asc" href="#" class="table10_header-link w-inline-block">
                                                                <div class="text-weight-semibold">Price</div>
                                                            </a>
                                                        </div>
                                                        <div role="columnheader" class="table10_column is-header-column is-width-medium">
                                                            <a fs-cmssort-desc="is-desc" fs-cmssort-element="trigger" fs-cmssort-field="IDENTIFIER" fs-cmssort-asc="is-asc" href="#" class="table10_header-link w-inline-block">
                                                                <div class="text-weight-semibold">Status</div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div role="rowgroup" id="w-node-_2f67111e-49cc-7fdd-87ba-7e37f4283376-034b39de" class="table10_list-wrapper">
                                                        <div fs-cmssort-element="list" class="table10_list">
                                                            <div role="row" class="table10_item">
                                                                <div role="cell" class="table10_column">
                                                                    <div fs-cmssort-field="IDENTIFIER">123456</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-large">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">Beria startup</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">1/11/2050</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">$55.00</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div class="table10_status-wrapper">
                                                                        <div fs-cmssort-field="IDENTIFIER" class="text-size-small text-weight-medium">paid</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div role="row" class="table10_item">
                                                                <div role="cell" class="table10_column">
                                                                    <div fs-cmssort-field="IDENTIFIER">123456</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-large">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">Beria startup</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">1/11/2050</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">$55.00</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div class="table10_status-wrapper">
                                                                        <div fs-cmssort-field="IDENTIFIER" class="text-size-small text-weight-medium">paid</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div role="row" class="table10_item">
                                                                <div role="cell" class="table10_column">
                                                                    <div fs-cmssort-field="IDENTIFIER">123456</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-large">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">Beria startup</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">1/11/2050</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div fs-cmssort-type="date" fs-cmssort-field="IDENTIFIER" class="truncate-width">$55.00</div>
                                                                </div>
                                                                <div role="cell" class="table10_column is-width-medium">
                                                                    <div class="table10_status-wrapper">
                                                                        <div fs-cmssort-field="IDENTIFIER" class="text-size-small text-weight-medium">paid</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>
    </div>
</body>
