
<body>
    <div class="page-wrapper">
        <main class="main-wrapper">
            <header class="content-wrap">
                <div class="padding-global">
                    <div class="container-medium">
                        <div class="padding-section-small">
                            <div class="w-layout-grid content-grid">

                                @await Html.PartialAsync("_SideBarContentPartial")

                                <div class="main-content">
                                    <div class="inner-content">
                                        <div class="inner-content-group">
                                            <div class="page-title-group">
                                                <h1 class="heading-style-h2">🧩 Subscriptions</h1>
                                                <p class="text-color-grey">Packages you have signed up for, 2 out of 4 collections generated for current plan</p>
                                            </div>
                                            <div class="divider wf-section"></div>
                                        </div>
                                        <div class="inner-content-group gap-32px">
                                            <div class="w-layout-grid pricing12_component">
                                                <div class="pricing12_plan">
                                                    <div class="pricing12_content">
                                                        <div class="margin-bottom margin-tiny">
                                                            <div class="heading-style-h4">Basic plan</div>
                                                        </div>
                                                        <div class="text-color-grey">For individuals and startups</div>
                                                        <div class="pricing12_divider"></div>
                                                        <div class="margin-vertical margin-xxsmall">
                                                            <div class="heading-style-h1">
                                                                $19 <span class="heading-style-h4">/mo</span>
                                                            </div>
                                                        </div>
                                                        <div>or $199 yearly</div>
                                                        <div class="margin-top margin-medium">
                                                            <a href="#" class="button max-width-full gradient-background w-button">Current plan</a>
                                                        </div>
                                                        <div class="pricing12_divider"></div>
                                                        <div class="pricing12_feature-list">
                                                            <div id="w-node-_816d80a4-e9f3-8812-497b-f122bb9c696d-f932f447" class="pricing12_feature">
                                                                <div class="pricing12_icon-wrapper">
                                                                    <img src="images/6243807090316232dc4aee70_icon_check.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                                                                </div>
                                                                <div>Feature text goes here</div>
                                                            </div>
                                                            <div id="w-node-_816d80a4-e9f3-8812-497b-f122bb9c6972-f932f447" class="pricing12_feature">
                                                                <div class="pricing12_icon-wrapper">
                                                                    <img src="images/6243807090316232dc4aee70_icon_check.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                                                                </div>
                                                                <div>Feature text goes here</div>
                                                            </div>
                                                            <div id="w-node-_816d80a4-e9f3-8812-497b-f122bb9c6977-f932f447" class="pricing12_feature">
                                                                <div class="pricing12_icon-wrapper">
                                                                    <img src="images/6243807090316232dc4aee70_icon_check.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                                                                </div>
                                                                <div>Feature text goes here</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pricing12_plan">
                                                    <div class="pricing12_content">
                                                        <div class="margin-bottom margin-tiny">
                                                            <div class="heading-style-h4">Business plan</div>
                                                        </div>
                                                        <div class="text-color-grey">For teams and enterprises</div>
                                                        <div class="pricing12_divider"></div>
                                                        <div class="margin-vertical margin-xxsmall">
                                                            <div class="heading-style-h1">
                                                                $29 <span class="heading-style-h4">/mo</span>
                                                            </div>
                                                        </div>
                                                        <div>or $299 yearly</div>
                                                        <div class="margin-top margin-medium">
                                                            <a href="#" class="button max-width-full w-button">Upgrade to business</a>
                                                        </div>
                                                        <div class="pricing12_divider"></div>
                                                        <div class="pricing12_feature-list">
                                                            <div id="w-node-_816d80a4-e9f3-8812-497b-f122bb9c6990-f932f447" class="pricing12_feature">
                                                                <div class="pricing12_icon-wrapper">
                                                                    <img src="images/6243807090316232dc4aee70_icon_check.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                                                                </div>
                                                                <div>Feature text goes here</div>
                                                            </div>
                                                            <div id="w-node-_816d80a4-e9f3-8812-497b-f122bb9c6995-f932f447" class="pricing12_feature">
                                                                <div class="pricing12_icon-wrapper">
                                                                    <img src="images/6243807090316232dc4aee70_icon_check.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                                                                </div>
                                                                <div>Feature text goes here</div>
                                                            </div>
                                                            <div id="w-node-_816d80a4-e9f3-8812-497b-f122bb9c699a-f932f447" class="pricing12_feature">
                                                                <div class="pricing12_icon-wrapper">
                                                                    <img src="images/6243807090316232dc4aee70_icon_check.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                                                                </div>
                                                                <div>Feature text goes here</div>
                                                            </div>
                                                            <div id="w-node-_816d80a4-e9f3-8812-497b-f122bb9c699f-f932f447" class="pricing12_feature">
                                                                <div class="pricing12_icon-wrapper">
                                                                    <img src="images/6243807090316232dc4aee70_icon_check.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                                                                </div>
                                                                <div>Feature text goes here</div>
                                                            </div>
                                                            <div id="w-node-_816d80a4-e9f3-8812-497b-f122bb9c69a4-f932f447" class="pricing12_feature">
                                                                <div class="pricing12_icon-wrapper">
                                                                    <img src="images/6243807090316232dc4aee70_icon_check.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                                                                </div>
                                                                <div>Feature text goes here</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>
    </div>
</body>
